USE [DbofSimpleNote]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/26/2020 12:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Note]    Script Date: 6/26/2020 12:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Note](
	[SoThuTu] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[ThongTin] [datetime] NULL,
	[Rac] [bit] NULL,
	[PintoTop] [bit] NULL,
 CONSTRAINT [PK_dbo.Note] PRIMARY KEY CLUSTERED 
(
	[SoThuTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 6/26/2020 12:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TenTag] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Tag] PRIMARY KEY CLUSTERED 
(
	[TenTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagNotes]    Script Date: 6/26/2020 12:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagNotes](
	[Tag_TenTag] [nvarchar](128) NOT NULL,
	[Note_SoThuTu] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TagNotes] PRIMARY KEY CLUSTERED 
(
	[Tag_TenTag] ASC,
	[Note_SoThuTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Note] ON 

INSERT [dbo].[Note] ([SoThuTu], [TieuDe], [NoiDung], [ThongTin], [Rac], [PintoTop]) VALUES (1, N'Note1', N' Day la Simple Note', NULL, NULL, NULL)
INSERT [dbo].[Note] ([SoThuTu], [TieuDe], [NoiDung], [ThongTin], [Rac], [PintoTop]) VALUES (2, N'Note1', N' Day la Simple Note', NULL, NULL, NULL)
INSERT [dbo].[Note] ([SoThuTu], [TieuDe], [NoiDung], [ThongTin], [Rac], [PintoTop]) VALUES (3, N'Note1', N' Day la Simple Note', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Note] OFF
GO
INSERT [dbo].[Tag] ([TenTag]) VALUES (N'#tag1')
GO
ALTER TABLE [dbo].[TagNotes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TagNotes_dbo.Note_Note_SoThuTu] FOREIGN KEY([Note_SoThuTu])
REFERENCES [dbo].[Note] ([SoThuTu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagNotes] CHECK CONSTRAINT [FK_dbo.TagNotes_dbo.Note_Note_SoThuTu]
GO
ALTER TABLE [dbo].[TagNotes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TagNotes_dbo.Tag_Tag_TenTag] FOREIGN KEY([Tag_TenTag])
REFERENCES [dbo].[Tag] ([TenTag])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagNotes] CHECK CONSTRAINT [FK_dbo.TagNotes_dbo.Tag_Tag_TenTag]
GO
